@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: "Roboto", sans-serif;
}
body {
	background: #eee;
	background-color: #de7300;
	background-color: #00abd6;
	background-image: url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
a {
	text-decoration: none;
}
a li {
	color: #fff;
}
a:hover li {
	color: #00abd6;
}
nav {
	background-color: #115567;
	color: white;
	margin: auto;
	padding: 16px 32px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

nav h2 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 200;
	color: #00abd6;
}
.navlinks {
	width: 10%;
	list-style: none;
}

footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}

footer p {
	font-size: 14px;
	color: #115567;
}
.note {
	background: #fff;
	border-radius: 7px;
	box-shadow: 0px 7px 20px 2px rgb(17 85 103 / 32%);
	padding: 10px;
	width: 240px;
	margin: 16px;
	float: left;
}
.note h1 {
	font-size: 1.1em;
	margin-bottom: 6px;
}
.note p {
	font-size: 1.1em;
	margin-bottom: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.note button {
	position: relative;
	float: right;
	margin-right: 10px;
	color: #115567;
	border: none;
	width: 36px;
	height: 36px;
	cursor: pointer;
	outline: none;
	background: none;
}

form.create-note {
	position: relative;
	width: 480px;
	margin: 30px auto 20px auto;
	background: #fff;
	padding: 15px;
	border-radius: 7px;
	box-shadow: 0px 7px 20px 2px rgb(17 85 103 / 32%);
}
form.create-note input,
form.create-note textarea {
	width: 100%;
	border: none;
	padding: 4px;
	outline: none;
	font-size: 1.2em;
	font-family: inherit;
	resize: none;
}
form.create-note button {
	position: absolute;
	right: 18px;
	bottom: -18px;
	background: #115567;
	color: #fff;
	border: none;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	box-shadow: 0px 7px 20px 2px rgb(17 85 103 / 32%);
	cursor: pointer;
	outline: none;
}
.About h1 {
	color: #115567;
	margin: 60px 0 30px;
	text-align: center;
}
.About div {
	background-color: white;
	margin: auto;
	padding: 20px;
	width: 50vw;
	border-radius: 7px;
	box-shadow: 0px 7px 20px 2px rgb(17 85 103 / 32%);
}
.About p {
	color: #115567;
}
.switch-wrapper {
	position: relative;
}

.switch-wrapper > div {
	position: absolute;
	width: 100%;
}

@media (max-width: 425px) {
	nav {
		padding: 10px 20px;
	}
	nav h2 {
		font-size: 20px;
	}
	a li {
		font-size: 16px;
	}
	.navlinks {
		width: unset;
	}
	form.create-note {
		width: unset;
		width: 85vw;
		padding: 10px;
	}
	form.create-note input,
	form.create-note textarea {
		font-size: 16px;
	}
	form.create-note input {
		font-weight: 500;
	}
	.note {
		width: 100vw;
		max-width: 80%;
		margin: auto;
		margin-bottom: 20px;
		float: unset;
	}
	.note h1 {
		font-size: 16px;
		font-weight: 14px;
	}
	.note p {
		font-size: 14px;
		overflow: auto;
		min-height: 3vw;
		max-height: 25vw;
	}
	.note button {
		margin-right: 0;
		width: unset;
		height: unset;
		bottom: 15px;
	}
	.About h1 {
		font-size: 24px;
		margin: 30px 0 15px;
	}
	.About div {
		width: 75vw;
	}
	.About p {
		font-size: 16px;
	}
}
